# Configuração Geral
INSTALLATION_NAME=visiochat
NODE_ENV=production
RAILS_ENV=production
INSTALLATION_ENV=docker
SECRET_KEY_BASE=ypHdBQU3hWdOaH3T3SkEeJ1G9K2lObEh
FRONTEND_URL=https://app.visiochat.shop
DEFAULT_LOCALE=pt_BR
FORCE_SSL=true
ENABLE_ACCOUNT_SIGNUP=false

# Configuração do Redis
REDIS_URL=redis://redis:6379/6

# Configuração de E-mail (Gmail)
MAILER_SENDER_EMAIL=datavisio Chat <devdatavisio@gmail.com>
SMTP_DOMAIN=gmail.com
SMTP_ADDRESS=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=devdatavisio@gmail.com
SMTP_PASSWORD=cafedyokajskjpkv
SMTP_AUTHENTICATION=login
SMTP_ENABLE_STARTTLS_AUTO=true
SMTP_OPENSSL_VERIFY_MODE=peer
MAILER_INBOUND_EMAIL_DOMAIN=devdatavisio@gmail.com

# Configuração do Banco de Dados
POSTGRES_HOST=postgres
POSTGRES_USERNAME=postgres
POSTGRES_PORT=5432
POSTGRES_PASSWORD=datavisiopostgres!123
POSTGRES_DATABASE=chatwoot

# Configuração de Armazenamento
ACTIVE_STORAGE_SERVICE=local

# Configuração de Logs
RAILS_LOG_TO_STDOUT=true,

# Configuração de Bot
USE_INBOX_AVATAR_FOR_BOT=true
